<%- include('head.ejs') %>

<div class="container">
    <H1>Hasta Luego</H1>
</div>


<script>
    setTimeout( () => {
        location.href="/"
    }, 2000)
</script>


<%- include('foot.ejs') %>61qf  